/* গ্লোবাল রিসেট */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* কমন ভেরিয়েবল (কালার প্যালেট) */
:root {
    --primary-color: #0047AB; /* ইউনিভার্সিটির নীল রঙ */
    --bg-color: #F4F7F6;
    --text-color: #333333;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}